@media (max-width: 991px) {
    .navbar-collapse {
      background-color: #060606;
      padding: 1rem;
      margin-top: 0.5rem;
    }
    .nav-item {
      margin: 0.5rem 0;
    }
    .nav-link:hover {
      color: #00FCEE !important;
    }
  }
  
  @media (min-width: 992px) {
    .nav-link:hover {
      color: #00FCEE !important;
    }
  }